<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="nhaml" type="NHaml.Configuration.NHamlConfigurationSection, NHaml"/>
    </configSections>
    <nhaml templateCompiler="CSharp4" useTabs="true">
        <assemblies>
            <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </assemblies>
    </nhaml>
    <connectionStrings>
        <add name="SubsonicExample"
            connectionString="server=.\SQLExpress;database=SubSonicExample;integrated security=true;"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <clear/>
            <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler"/>
            <add verb="GET,HEAD" path="Content/*" type="System.Web.StaticFileHandler"/>
            <add verb="*" path="*" type="SubsonicExample.App" />
        </httpHandlers>
    </system.web>

</configuration>
