<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <clear/>
            <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler"/>
            <add verb="GET,HEAD" path="Content/*" type="System.Web.StaticFileHandler"/>
            <add verb="*" path="*" type="Example.App"/>
        </httpHandlers>
    </system.web>
</configuration>
