!!!
%html
	%head
		%title Address book
	%body
	%h1 Add contact
	%form{method="POST" action="/"}
		%p
			%label Name
			%input{type= "text" name="Name"}
		%p
			%label Email
			%input{type="text" name="Email"}
		%p
			%input{type="submit" value="Add"}	